/* GRID */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 28px;
  padding: 40px;
 

}
.full{
 background:#f8f2dc;
 height: 100vh;
}
/* CARD */
.event-card {
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.event-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENT */
.event-content {
  padding: 20px;
  color: #c46b2c;
}

.event-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.event-content h4 {
  margin-top: 12px;
  font-size: 14px;
  color: #4f46e5;
  text-transform: uppercase;
   color: #c46b2c;
}

.event-content p,
.event-content li {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.6;
}

.event-content ul {
  padding-left: 18px;
}

/* EXTRA */
.extra-content {
  margin-top: 10px;
}

/* BUTTON */
.show-more {
  margin-top: 14px;
  background: none;
  border: none;
  color: #c46b2c;
  font-weight: 600;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .event-grid {
    padding: 24px;
  }

  .event-card img {
    height: 160px;
  }
}

@media (max-width: 480px) {
  .event-content h2 {
    font-size: 18px;
  }
}
