
.location-section {
padding: 40px 20px;
text-align: center;
}


.location-section h2 {
font-size: 28px;
margin-bottom: 8px;
}


.location-section p {
font-size: 15px;
color: #555;
margin-bottom: 20px;
}



.map-container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 300px;            
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;              
  border: 0;
}
footer h3{
    background-color: #b0652a;
    color: #fff;
    height: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 0px;
}
/* Responsive text */
@media (max-width: 768px) {
.location-section h2 {
font-size: 22px;
}


.location-section p {
font-size: 14px;
}
}